*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	display:flex;
	padding: 60px 0px 0px 50px;
	justify-content: space-evenly;
	align-items:center;
	
	font-family: 'Open Sans', sans-serif;
}

.login{
	display:flex;
	align-items:center;
	border:1px solid #80808061;
	width: 900px;
    height: 450px;
	border-radius:10px;
	overflow:hidden;
	
}
.type-1{
	background:#3bb397;
	color:white;
	height:450px;
	width:358px;

}

.form-1{
	text-align:center;
	margin-top:11em;
	
}

ul{
	list-style:none;
}


.btn1{
	text-decoration: none;
    color: white;
    padding: 6px 50px;
    border-radius: 24px;
    border: 1px solid white;
    display: inline-block;
	cursor:pointer;
   

}
.form-1 h1{
	    margin-bottom: 15px;

}
.para1{
	font-size: 14px;
    margin-bottom: 15px;
}

.form-2{
	text-align:center;
	margin-left:4em;
}
.heading h2{
	color:#3bb397;
	margin-bottom: 30px;
	
}
.icon ul{
	margin-bottom: 15px;
} 
.form-2 p{
	color: #80808082;
    font-size: 15px;
    font-weight: 600;
	margin-bottom: 10px;
}
.list{
	display:flex;
	gap:10px;
	justify-content:center;
	font-size:25px;
}
li{
	font-size: 25px;
    border: 2px solid #f3f3f3;
    width: 40px;
    height: 40px;
	background:#fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    transform: translate(-50%, 0);
}
input{
	background-color: #f1f1f1d4;
    border: 1px solid #f1f1f1d4;
    height: 4px;
    width: 278px;
    gap: 2px;
	padding: 22px 0px 20px 25px;
    outline: none;
    margin: 5px;
	position: relative;
}

.a{
	position: absolute;
    top: 70%;
    right: 45%;
	opacity:1;
}
.b{
	position: absolute;
    top: 85%;
    right: 45%;
	opacity:1;
}
.c{
	position: absolute;
    top: 99%;
    right: 45%;
	opacity:1;
}

.btn2{
	text-decoration: none;
    color: white;
    padding: 10px 63px;
    border-radius: 24px;
    border: 1px solid white;
    display: inline-block;
	background:#3bb397;
	margin-top: 12px;
	cursor:pointer;
    
}
.form i{
	position: relative;
    top: 3px;
    left: 26px;
}


